body {
  text-shadow: 0 .00rem 0rem rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0rem rgba(0, 0, 0, 0);
}

.table td {
  vertical-align: middle;
}

.consent-button {
	padding-top: 50px;
}

.no-consent-button {
	padding-top: 150px;
	float:right;
}

.capture-form {
	padding-top: 20px;
}

.footer-image {
	padding-left: 2px;
	margin-bottom: 4px;
}

.patient-table {
	width: 90%;
	margin-left: 5%;
}

.action-button{
	float:left;
	border-top: 10px;
}

.patient-information-headings{
	text-align: right;
	font-style: italic;
}

.patient-information{
	text-align: left;
}

.action-accordion{
	background-color: #005EB8
}

.patient-action-button{
	float: right;
	background-color: grey;
	margin-bottom: 15px;
	margin-left: 15px;
}